<%= form_for(@idea) do |f| %>
  
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "What's the headline here? (Describe your idea in one line. This will appear on the homepage.)" %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :description, "OK! People want to know more. Here's your chance to describe your idea in more depth." %><br>
    <%= f.text_area :description %><br><br>
    <%= f.label :main_image, 'Image (provide a url)' %><br>
    <%= f.text_field :main_image %><br><br>
    <%= f.label :video_link, 'ID of YouTube video of your pitch' %><br>
    <%= f.text_field :video_link %><br><br>
    <%= f.label :feedback_type, 'What are you hoping the feedback will be like?' %><br>
    <%= f.text_field :feedback_type %><br><br>
    <%= f.select :score, [['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>