<br><br>
<div id="idea_score">
  <%= render :partial => "ideas/ideascore", locals: { idea: idea } %>
</div>
<h4><%= link_to idea.title, idea  %></h4>
<h3><%= idea.category.name %></h3>
<h3>Feedback requested:</h3> 
<%= idea.feedback_type %>
<p>Idea submitted to <%= link_to idea.category.name, category_path(idea.category.id)  %> by <%= link_to User.find(idea.user_id).try(:username), user_path(idea.user_id)  %> on <%= idea.created_at.strftime("%b %-d, %Y") %> </p> 










