<br><br>
<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>
<h3>Category: <%= @idea.category.name %></h3>
<img src="<%= @idea.main_image %>" class="pitch-image">
<p><a href="https://www.youtube.com/watch?v=<%= @idea.video_link %>" target="_blank">Watch the video</a></p>
<h3>Feedback requested: <%= @idea.feedback_type %></h3> 

<p>Idea submitted on <%= @idea.created_at.strftime("%b %-d, %Y") %>, by <%= User.find(@idea.user_id).try(:username) %></p><br><br>

<% if can? :update, @idea %>
<%= link_to 'Edit above details', edit_idea_path(@idea) %> 
<% end %>

<% if can? :destroy, @idea %>
<%= link_to 'Remove this idea', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back to the homepage', ideas_path %>
