<br><br>

<div class= "container">
<div class="idea_score">
  <%= render :partial => "ideas/ideascore", locals: { idea: @idea} %>
</div>
<h3><%= @idea.title %></h3>
<p id="submitted-byline">Idea submitted by <%= link_to User.find(@idea.user_id).try(:username), user_path(@idea.user_id)  %> on <%= @idea.created_at.strftime("%b %-d, %Y") %> to <%= link_to @idea.category.name, category_path(@idea.category.id)  %></p>

<p id="description"><%= @idea.description %></p>


<%= image_tag @idea.idea_image.url, class: "idea-image-on-show-page" %>
<h4>Feedback requested: <%= @idea.feedback_type %></h4><br>



<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Pitch</a>
    <div class="tab-content">
      <%= @idea.video_link_html %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Originality</a>
    <div class="tab-content">
      <% if can? :score_originality, @idea %>
        <h4>How original do you think this idea is?</h4>
        <!-- Creates 5 forms. Originality score goes from 1 to 5. Each possible score gets a button (and form). -->

        <ul id="originality-buttons">
          <% ['One of a kind (1)', 'Original (2)', 'Somewhat original (3)', 'A bit original (4)', 'Not original (5)' ].each_with_index do |text, index| %>
            <li><%= form_for @idea, url: originality_rating_idea_path(@idea), method: :put, remote: true, html: { class: "originality_score_form" } do |f| %>
                <%= tag(:input, :type => "hidden", :name => :vote_weight, :value => (index + 1) ) %>
                <%= f.submit text, class: "submit_originality_rating" %>
              <% end %></li>
          <% end %>
        </ul>
        <% elsif current_user %>
        <p>You can't vote on the originality of your own idea!</p>
        <% else %>
        <p>Sign in to vote on the originality of this idea</p>
        <% end %>
        <hr>
        <h5>Current score: <span id="originality_score"> <%= render :template => "ideas/originalityscore" %></span></h5>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Comments (<%= @idea.root_comments.count %>)</a>
    <div class="tab-content">
      <% if current_user %>
        <h4>Write a Comment:</h4>
        <%= form_for([@idea, Comment.new]) do |f| %>
          <%= render partial: '/comments/form', locals: { f: f } %>
        <% end %>
        <% elsif current_user == nil %>
        <%= link_to "Login to comment", new_user_session_path %> |
      <% end %>
      <%= render partial:'comments/comment', :collection => @comments, :as => :comment %>    
    </div>
  </li>
  
</div>


<% if can? :update, @idea %>
  <%= link_to 'Edit above details', edit_idea_path(@idea) %> |
<% end %>

<% if can? :destroy, @idea %>
  
  <%= link_to 'Remove this idea', @idea, method: :delete, data: { confirm: "Some cared enough to submit this idea, are you sure you want to remove it? Crush their soul why don't you..." } %> |
<% end %>

<%= link_to 'Back to the homepage', ideas_path %>
<br><br>
