<br><br>
<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>
<h3>Category: <%= @idea.category.name %></h3>
<img src="<%= @idea.main_image %>" class="pitch-image">
<p><a href="https://www.youtube.com/watch?v=<%= @idea.video_link %>" target="_blank">Watch the video</a></p>
<h3>Feedback requested:</h3> 
<%= @idea.feedback_type %>


<p>Idea submitted on: <%= @idea.created_at.strftime("%b %-d, %Y") %></p><br><br>

<%= link_to 'Edit above details', edit_idea_path(@idea) if can? :edit, @idea %> |
<%= link_to 'Remove this idea', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to the homepage', ideas_path %>
