<br><br>

<div id="idea_score">
  <%= render :partial => "ideas/ideascore", locals: { idea: @idea} %>
</div>
<h3><%= @idea.title %></h3>
>>>>>>> voting_on_index_page

<p><%= @idea.description %></p>
<p>Submitted to <%= link_to @idea.category.name, category_path(@idea.category)  %> by <%= link_to User.find(@idea.user_id).try(:username), user_path(@idea.user_id)  %> on <%= @idea.created_at.strftime("%b %-d, %Y") %> 
</p>

<%= image_tag @idea.idea_image.url %>

<%= @idea.video_link_html %>

<h4>Feedback requested: <%= @idea.feedback_type %></h4><br>

<h3>Votes</h3>
<p>Upvotes: <%= @idea.get_upvotes(:vote_scope => 'vote_for_idea').size %></p>
<p>Downvotes: <%= @idea.get_downvotes(:vote_scope => 'vote_for_idea').size %></p>
>>>>>>> voting_on_index_page

<br>

<h4>Originality score</h4>

<% if can? :score_originality, @idea %>
  <p>How original do you think this idea is?</p>
  <!-- Creates 5 forms. Originality score goes from 1 to 5. Each possible score gets a button (and form). -->
  <% ['One of a kind', 'Original', 'Somewhat original', 'A bit original', 'Not original' ].each_with_index do |text, index| %>
    <%= form_for @idea, url: originality_rating_idea_path(@idea), method: :put, remote: true, html: { class: "originality_score_form" } do |f| %>
      <%= tag(:input, :type => "hidden", :name => :vote_weight, :value => (index + 1) ) %>
      <%= f.submit text, class: "submit_originality_rating" %>
    <% end %>  
  <% end %>

<% end %>

<p>Current score: <span id="originality_score"> <%= render :template => "ideas/originalityscore" %></span></p>

<br>

<% if current_user %>
  <h4>Write a Comment:</h4>
  <%= form_for([@idea, Comment.new]) do |f| %>
    <%= render partial: '/comments/form', locals: { f: f } %>
  <% end %>
  <% elsif current_user == nil %>
  <%= link_to "Login to comment", new_user_session_path %> |
<% end %>
<%= render partial:'comments/comment', :collection => @comments, :as => :comment %>



<% if can? :update, @idea %>
  <%= link_to 'Edit above details', edit_idea_path(@idea) %> 
<% end %>

<% if can? :destroy, @idea %>
  <%= link_to 'Remove this idea', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back to the homepage', ideas_path %>
