<p>
  <%= image_tag @user.user_image.url, class: "idea-image" %>
</p>
<div class="user-show-data-wrapper">
  <h1><%= @user.username %></h1>
  <h5>Biography</h5>
  <p><%= @user.bio %></p>
</div>

<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">My Ideas</a>
    <div class="tab-content">
      <p><% if @user.ideas.count > 0 %>
       
        <% (@user.ideas).each do |idea| %>
        <h4><%= link_to idea.title, idea %></h4>
        <p>Current score: <span><%= idea.current_score %></span></p>
        <p>Number of votes: <span><%= idea.total_votes_cast_on_idea %></span></p>
        <p>Current originality score: <span><%= idea.current_originality_rating %></span></p>
        <p>Votes on originality: <span><%= idea.total_votes_cast_on_ideas_originality %></span></p>
        <hr>
        <% end %>

        <strong><i>Originality is on a scale from 1 (one of a kind) to 5 (done to death).</i></strong>
        
        <% elsif @user.ideas.count == 0 %>
          <strong><i> <%= @user.username %> has not submitted any ideas</i></strong>
        <% end %></p>
      </div>
    </li>


    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Liked Ideas</a>
      <div class="tab-content">
        <% if @user.find_liked_items.count > 0 %>
        <% (@user.find_liked_items).each do |idea| %>
        <% if @user.liked?(idea, :vote_scope => 'vote_for_idea') %>
        <h4><%= link_to idea.title, idea %></h4>
        <p>Current score: <span><%= idea.current_score %></span></p>
        <p>Number of votes: <span><%= idea.total_votes_cast_on_idea %></span></p><br>
        <% end %>

        <% end %>
        <% end %>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Disliked Ideas</a>
      <div class="tab-content">
        <% if @user.find_disliked_items.count > 0 %>
        <% (@user.find_disliked_items).each do |idea| %>
        <h4><%= link_to idea.title, idea %></h4>
        <p>Current score: <span><%= idea.current_score %></span></p>
        <p>Number of votes: <span><%= idea.total_votes_cast_on_idea %></span></p><br>
        <% end %>
        <% end %>    
      </div>
    </li>
  </ul>



  <% if can? :update, @user %>
  <%= link_to 'Edit profile', edit_user_path(@user) %> |
  <% end %>

  <%= link_to 'Back to the homepage', ideas_path %>
  <br><br>