<h1>Categories</h1>

<%= link_to 'New Category', new_category_path if can? :create, Category %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is live</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category.id)  %></td>
        <td><%= category.is_live %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) if can? :edit, category %></td>
        <td><%= link_to 'Destroy', category if can? :destroy, category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


