<h1>Categories</h1>

<%= link_to 'New Category', new_category_path if can? :create, Category %>

<table class = tables>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is live</th>
      <% if can? :edit, Category %>
        <th></th>
      <% end %>
      <% if can? :destroy, Category %>
        <th></th>
      <% end %>
    </tr>
  </thead>


  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category.id)  %></td>
        <td><%= category.is_live %></td>
        <% if can? :edit, category %>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <% end %>
        <% if can? :destroy, category %>
         <td><%= link_to 'Destroy', category if can? :destroy, category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


