

<p id="notice"><%= notice %></p>
<br>
<p>
  
 
 <table class = "tables">
  
  <thead>
    <tr>
      <th>Ideas in the "<%= @category.name %>" category
      <!--   <i>
       Is live: <%#= @category.is_live %>
        </i> -->
       </th>
    </tr>
  </thead>

  <tbody>
  <tr>
 <% Idea.where(category_id: @category.id).each do |idea| %>
    <td>
   <%= link_to idea.title, idea_path(idea.id)  %>
   </td>
   </tr>
 <% end %>
 </tbody>
 </table>



 



<% if can? :edit, Category %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<br><br>
<%= link_to 'View all categories', categories_path %>
<br><br>
